body {border:5px solid red; padding:50px; margin:50px;}

#h1-center{text-align:center; border:5px dotted green;}

img {border:solid red 5px;}

p {border:dashed green 5px; padding:30px; text-align:center; font-size: larger; color:blue;}

tr:hover{background-color:red;}

a:hover{background-color:yellow;}

.quotes{text-align:center; font-style:italic;
  font-size:x-large;  background-color:aquamarine;}

.text {border: 5px solid black ;	
	text-align:center; 	
	background-color:yellow; padding:10px}

li{margin-left:40px}
